.body {
	min-width: 320px;
	background-color: $bg;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	@extend %bodyFont;

	&.darkmode {
		background-color: $bg-dark;
	}
}