.card {
	display: flex;
	flex-direction: column;
	row-gap: rez(22);

	&:hover .card__name {
		opacity: .75;
	}
	&__img-box {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rez(20);
		overflow: hidden;
		aspect-ratio: 1/1;
		border-radius: 20px;
		text-decoration: none;
		background-color: $bg;
		filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
		&:hover {
			filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.11));
		}
		&.darkmode {
			&:hover {
				filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.55));
			}
		}
	}
	&__img {
		object-fit: cover;
		object-position: center;
		transition: transform .5s ease;
	}
	&__name {
		line-height: rez(22);
		font-weight: 500;
	}
}