.cycles {
	&__container {
		padding-top: rez(60);
		padding-bottom: rez(60);
	}

	&__header {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: rez(80);
	}
	&__title {
		max-width: rez(460);
	}
	&__filters {
		display: flex;
		flex-direction: row;
		column-gap: rez(40);
	}
	&__filter {
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}

		&_active {
			color: $black15;
			opacity: 1;
			&:hover {
				opacity: 0.75;
			}
		}
	}
	&__cards {
		display: none;
		overflow: visible;
		&_active {
			display: block;
		}
	}
	&__wrapper {
		overflow: visible;
		// display: grid;		
		// grid-template-columns: repeat(3, 1fr);
		// column-gap: rez(30);
		// row-gap: rez(30);
	}
}

.cycles__pagination {
	display: none;
	@include media-t {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: rez-m(20) auto 0;
	}
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background-color: $grayC7;
	border-radius: 100px;
	display: inline-block;
	margin-right: 5px;
	transition: background-color .3s ease;
	&:last-of-type {
		margin-right: 0;
	}
}

.swiper-pagination-bullet-active {
	background-color: $black15;
}
