.cycles {
  &__container {
    padding-top: rez(60);
    padding-bottom: rez(60);
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: rez(80);
    @include media-t {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      row-gap: rez-t(40);
    }
  }
  &__title {
    max-width: rez(460);
  }
  &__filters {
    display: flex;
    flex-direction: row;
    column-gap: rez(40);
    @include media-t {
      display: none;
    }
  }
  &__filter {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }

    &_active {
      color: $black15;
      opacity: 1;
      &:hover {
        opacity: 0.75;
      }
    }
  }
  &__cards {
    display: none;
    overflow: visible;
    &_active {
      display: block;
    }
  }
  &__wrapper {
    overflow: visible;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // column-gap: rez(30);
    // row-gap: rez(30);
  }
}

.cycles__pagination {
  display: none;
  @include media-t {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: rez-m(20) auto 0;
  }
}

.cycles__select {
  display: none;

  &::placeholder {
    color: red;
  }

  @include media-t {
    display: block;
    outline: none;
    border: 1px solid rgba($color: $grayC7, $alpha: 0.5);
    appearance: none;
    border-radius: 4px;
    padding: rez-t(12) rez-t(16);
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.3s ease;
    color: $black15;
    font-weight: 600;
    width: rez-t(300);
    background-image: url(../../images/arrow-down.svg);
    background-repeat: no-repeat, repeat;
    background-position: right rez-t(16) top 50%, 0 0;
    background-size: rez-t(10) auto, 100%;
  }
  @include media-m {
    padding: rez-m(8) rez-m(12);
    width: rez-m(114);
		background-position: right rez-m(12) top 50%, 0 0;
		background-size: rez-m(10) auto, 100%;
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: $grayC7;
  border-radius: 100px;
  display: inline-block;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  &:last-of-type {
    margin-right: 0;
  }
}

.swiper-pagination-bullet-active {
  background-color: $black15;
}
