.footer {
	background-color: $grayEF;
	&__container {
		padding-top: rez(80);
		padding-bottom: rez(60);
	}
	&__form-container {
		margin-bottom: rez(100);
	}
	&__form {
		display: flex;
		flex-direction: column;
		row-gap: rez(50);
		max-width: rez(360);
	}
	&__last-row {
		margin-top: rez(86);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__copyright {
		font-weight: 600;
		font-size: rez(14);
		line-height: rez(20);
		color: $grayCF;
	}
	&__theme-box {
		display: flex;
		flex-direction: row;
		column-gap: rez(22);
	}
	&__theme-icon {
		width: rez(28);
		aspect-ratio: 1/1;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		&_type {
			&_light {
				background-image: url(../../images/light-mode-icon.svg);
			}
			&_dark {
				background-size: 70%;
				background-image: url(../../images/dark-mode-icon.svg);
			}
		}
	}
	&__switcher {
		cursor: pointer;
		width: rez(44);
		background-color: white;
		border: none;
		border-radius: rez(100);
		padding: rez(2);
		&:hover .footer__switcher-icon {
			background-color: $green-dark;
		}
	}
	&__switcher-icon {
		display: block;
		transition: transform 0.3s ease;
		height: rez(20);
		aspect-ratio: 1/1;
		border-radius: 100%;
		background-color: $primary;
		&_pos {
			&_light {
				transform: translateX(0);
			}
			&_dark {
				transform: translateX(100%);
			}
		}
	}
}

.form {
	&__title {
		font-weight: 600;
		font-size: rez(24);
		line-height: rez(32);
		color: $black15;
		max-width: rez(229);
	}
	&__label {
		position: relative;
		width: 100%;
	}
	&__item {
		width: 100%;
		outline: none;
		border: 1px solid rgba($color: $grayC7, $alpha: 0.5);
		border-radius: rez(4);
		padding: rez(11) rez(20);
		background: transparent;
		cursor: pointer;
		transition: all 0.3s ease;
		color: $black15;
		display: block;

		&::placeholder {
			font-weight: 500;
			font-size: rez(13);
			line-height: rez(28);
			color: $gray22;
			opacity: 0.7;
		}

		&:hover {
			border-color: $grayC7;
			&::placeholder {
				color: $black15;
				opacity: 1;
			}
		}
	}
	&__submit {
		display: none;
		background: transparent;
		border: none;
		color: $black15;
		position: absolute;
		right: rez(20);
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		padding: rez(6);
		transition: color 0.3s ease;
		&:hover {
			color: $green-dark;
		}
		&_ready {
			display: block;
		}
	}
}
