.form {
  display: flex;
  flex-direction: column;
  row-gap: rez(50);
  @include media-l {
    row-gap: rez-l(50);
  }
  @include media-t {
    row-gap: rez-t(50);
  }
  @include media-m {
    row-gap: rez-m(40);
  }

  &__title {
    font-weight: 600;
    font-size: rez(24);
    line-height: calc(32 / 24);
    color: $black15;
    max-width: rez(229);
    transition: color 0.3s ease;
    @include media-l {
      font-size: rez-l(24);
      max-width: rez-l(229);
    }
    @include media-t {
      font-size: rez-t(24);
      max-width: rez-t(229);
    }
    @include media-m {
      font-size: rez-m(24);
      max-width: rez-m(229);
    }
  }

  &__label {
    position: relative;
    width: 100%;
  }

  &__item {
    width: 100%;
    outline: none;
    border: 1px solid rgba($color: $grayC7, $alpha: 0.5);
    border-radius: 4px;
    padding: rez(11) rez(20);
    background: transparent;
    cursor: pointer;
    transition: border-color 0.3s ease;
    color: $black15;
    display: block;
    font-size: rez(13);
    line-height: calc(28 / 13);
    @include media-l {
      padding: rez-l(11) rez-l(20);
      font-size: rez-l(13);
    }
    @include media-t {
      padding: rez-t(11) rez-t(20);
      font-size: rez-t(13);
    }
    @include media-m {
      padding: rez-m(11) rez-m(20);
      font-size: rez-m(13);
    }

    &::placeholder {
      font-weight: 500;
      font-size: rez(13);
      line-height: calc(28 / 13);
      color: $gray22;
      opacity: 0.7;
      transition: color, opacity 0.3s ease;
      @include media-l {
        font-size: rez-l(13);
      }
      @include media-t {
        font-size: rez-t(13);
      }
      @include media-m {
        font-size: rez-m(13);
      }
    }

    &:hover {
      border-color: $grayC7;
      &::placeholder {
        color: $black15;
        opacity: 1;
      }
    }

    &:-webkit-autofill {
      transition: all 50000s ease-in-out;
    }
  }

  &__submit {
    display: none;
    background: transparent;
    border: none;
    color: $black15;
    position: absolute;
    right: rez(20);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: rez(6);
    transition: color 0.3s ease;
    font-size: rez(13);
    line-height: calc(28 / 13);

    @include media-l {
      right: rez-l(20);
      padding: rez-l(6);
      font-size: rez-l(13);
    }
    @include media-t {
      right: rez-t(20);
      padding: rez-t(6);
      font-size: rez-t(13);
    }
    @include media-m {
      right: rez-m(20);
      padding: rez-m(6);
      font-size: rez-m(13);
    }

    &:hover {
      color: $green-dark;
    }
    &_ready {
      display: block;
    }
  }

  &.darkmode {
    .form {
      &__title {
        color: white;
      }

      &__submit {
        color: white;
        &:hover {
          color: $primary;
        }
      }

      &__item {
        color: white;
        border-color: rgba($color: white, $alpha: 0.5);

        &::placeholder {
          color: rgba($color: white, $alpha: 0.7);
        }

        &:hover {
          &::placeholder {
            color: white;
          }
        }
      }
    }
  }
}
