.hero {
	position: relative;
	height: fit-content;
	min-height: rez(836);

	@include media-t {
		min-height: unset;
	}

	&__container {
		padding-top: rez(160);
		z-index: 2;
		@include media-t {
			padding-top: rez-t(80);
		}
		@include media-m {
			padding-top: rez-m(80);
		}
	}

	&__content-box {
		display: flex;
		flex-direction: column;
		max-width: rez(460);
		@include media-t {
			max-width: unset;
		}
	}

	&__title {
		margin-bottom: rez(50);
		@include media-t {
			max-width: rez-t(300);
			margin-bottom: rez-t(40);
		}
		@include media-m {
			max-width: rez-m(300);
			margin-bottom: rez-m(40);
		}
	}

	&__subtitle {
		margin-bottom: rez(50);
		@include media-t {
			margin-top: rez-t(40);
			margin-bottom: rez-t(40);
		}
		@include media-m {
			margin-top: rez-m(40);
			margin-bottom: rez-m(40);
		}
	}

	&__underline-box {
		margin-top: rez(168);
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: rez(30);
		@include media-t {
			display: none;
		}
	}

	&__line {
		height: rez(2);
		width: rez(132);
		background-color: $grayC7;
		&.darkmode {
			background-color: $gray70;
		}
	}

	&__images-box {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		@include media-t {
			position: relative;
			height: fit-content;
		}
		@include media-m {
			padding-left: rez-m(32);
		}
	}

	&__bike-fix {
		width: rez(440);
		height: rez(300);
		display: flex;
		box-shadow: rez(-20) rez(60) rez(220) rgba(0, 0, 0, 0.14);
		background-color: $bg;
		border-radius: 20px;
		position: absolute;
		top: rez(347);
		right: rez(360);
		@include media-t {
			position: relative;
			top: unset;
			right: unset;
			margin-top: rez-t(150);
			margin-bottom: rez-t(40);
			width: rez-t(312);
			height: rez-t(213);
			box-shadow: none;
			filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
			z-index: 1;
		}
		@include media-m {
			//
			margin-top: unset;
			margin-bottom: unset;
			position: absolute;
			top: rez-m(110);
			left: 0;
			// margin-top: rez-m(150);
			// margin-bottom: rez-m(37);
			width: rez-m(234);
			height: rez-m(160);
			z-index: 1;
		}
	}

	&__bike-img {
		margin: auto;
		height: 100%;
	}

	&__cover {
		height: 100%;
		top: rez(80);
		right: 0;
		z-index: 0;
		@include media-t {
			position: absolute;
			top: 0;
		}
		@include media-m {
			position: static;
			height: rez-m(348);
			width: 100%;
		}
	}
}
