.training {
	&__container {
		padding-top: rez(150);
		padding-bottom: rez(120);
		display: grid;
		grid-template-columns: rez(460) 1fr;
		column-gap: rez(160);
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__title {
		@extend %titles;
		margin-bottom: rez(50);
	}
	&__subtitle {
		@extend %text;
	}
	&__links {
		display: flex;
		flex-direction: row;
		column-gap: rez(30);
	}
	&__link {
		@extend %darkText;
		font-weight: 600;
		text-decoration: none;
		&:hover {
			opacity: .75;
		}
	}
	&__img-box {
		width: 100%;
	}
}