@import "../utils/utils.scss";
@import "../blocks/header.scss";
@import "../blocks/button.scss";
@import "../blocks/hero.scss";
@import "../blocks/blockquote.scss";

.body {
	min-width: 320px;
	background-color: $bg;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	@extend %bodyFont;
}

%titles {
	color: $black15;
	font-weight: 900;
	font-size: rez(55);
	line-height: rez(60);
	letter-spacing: rez(-0.5);
}

%text {
	color: $gray22;
	font-weight: 400;
	font-size: rez(18);
	line-height: rez(28);
	opacity: 0.7;
}

%darkText {
	color: $black15;
	font-weight: 400;
	font-size: rez(18);
	line-height: rez(18);
}

%quote {
	color: $black15;
	font-weight: 500;
	font-size: rez(34);
	line-height: rez(44);
	letter-spacing: rez(-0.5);
}

.logo {
}
.section {
}

.container {
	max-width: rez(1200);
	margin: 0 auto;
}

.main {
}

.footer {
	height: rez(1000);
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
  &.swiper-vertical {
    touch-action: pan-x;
  }
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight {
  &,
  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* CSS Mode */
.swiper-css-mode {
  > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
  }
}
.swiper-horizontal.swiper-css-mode {
  > .swiper-wrapper {
    scroll-snap-type: x mandatory;
  }
}

.swiper-centered {
  > .swiper-wrapper::before {
    content: '';
    flex-shrink: 0;
    order: 9999;
  }
  &.swiper-horizontal {
    > .swiper-wrapper > .swiper-slide:first-child {
      margin-inline-start: var(--swiper-centered-offset-before);
    }
    > .swiper-wrapper::before {
      height: 100%;
      width: var(--swiper-centered-offset-after);
    }
  }

  > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: center center;
  }
}