$black15: #151515;
$gray22: #222;
$grayEB: #ebebeb;
$grayEF: #efefef;
$grayC7: #c7c7c7;
$grayCF: #cfcfcf;
$whiteE6: #e6e6e6;
$whiteE5: #e5e5e5;

$green: #24B47E;
$green-dark: #319E75;

$primary: $green;
$bg: #F4F4F4;
$bg-dark: #333;