$black15: #151515;
$black2f: #2f2f2f;
$black43: #434343;
$black56: #565656;
$black54: #545454;

$gray22: #222;
$grayEB: #ebebeb;
$grayEF: #efefef;
$grayE3: #e3e3e3;
$grayC7: #c7c7c7;
$grayCF: #cfcfcf;
$gray70: #707070;
$gray7D: #7d7d7d;

$whiteE6: #e6e6e6;
$whiteE5: #e5e5e5;

$green: #24b47e;
$green-dark: #319e75;

$primary: $green;
$bg: #f4f4f4;
$bg-dark: #333;
