.fade-in-up {
	opacity: 0;
	transform: translateY(50px);
	transition: all .5s ease-out;

	&_visible {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	opacity: 0;
	transition: opacity .5s ease-out;
	&_visible {
		opacity: 1;
	}
}