@font-face {
  font-family: "Inter";
  src: url(../../vendor/fonts/inter/Inter-Regular.woff) format("woff"),
    url(../../vendor/fonts/inter/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../../vendor/fonts/inter/Inter-Medium.woff) format("woff"),
    url(../../vendor/fonts/inter/Inter-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(../../vendor/fonts/inter/Inter-Black.woff) format("woff"),
    url(../../vendor/fonts/inter/Inter-Black.woff2) format("woff2");
  font-weight: 900;
}

%bodyFont {
	font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
}

%titles {
	font-weight: 900;
	font-size: rez(55);
	line-height: rez(60);
	letter-spacing: rez(-0.5);
}

%text {
	font-weight: 400;
	font-size: rez(18);
	line-height: rez(28);
	opacity: 0.7;
}

%darkText {
	font-weight: 400;
	font-size: rez(18);
	line-height: rez(18);
}

%quote {
	font-weight: 500;
	font-size: rez(34);
	line-height: rez(44);
	letter-spacing: rez(-0.5);
}

.title {
	@extend %titles;
	color: $black15;
	&.darkmode {
		color: white;
	}
}

.text {
	@extend %text;
	color: $gray22;
	&.darkmode {
		color: $whiteE5;
	}
}

.darkText {
 @extend %darkText;
 color: $black15;
 &.darkmode {
	color: white;
 }
}

.quote {
	@extend %quote;
	color: $black15;
	&.darkmode {
		color: white;
	}
}