@font-face {
  font-family: "Inter";
  src: url(../../vendor/fonts/inter/Inter-Regular.woff) format("woff"),
    url(../../vendor/fonts/inter/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../../vendor/fonts/inter/Inter-Medium.woff) format("woff"),
    url(../../vendor/fonts/inter/Inter-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(../../vendor/fonts/inter/Inter-Black.woff) format("woff"),
    url(../../vendor/fonts/inter/Inter-Black.woff2) format("woff2");
  font-weight: 900;
}

%bodyFont {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
}

%titles {
  font-weight: 900;
  font-size: rez(55);
  line-height: calc(60 / 55);
  letter-spacing: rez(-0.5);
  @include media-l {
    font-size: rez-l(48);
  }
  @include media-t {
    font-size: rez-t(36);
  }
  @include media-m {
    font-size: rez-m(32);
  }
}

%text-s {
  font-weight: 400;
  font-size: rez(14);
  line-height: calc(20 / 14);
  @include media-l {
  }
  @include media-t {
  }
  @include media-m {
  }
}

%text {
  font-weight: 400;
  font-size: rez(18);
  line-height: calc(28 / 18);
  opacity: 0.7;
  @include media-l {
    font-size: rez-l(16);
  }
  @include media-t {
    font-size: rez-t(14);
  }
  @include media-m {
    font-size: rez-m(12);
  }
}

%darkText {
  font-weight: 400;
  font-size: rez(18);
  line-height: 1;
  @include media-l {
  }
  @include media-t {
  }
  @include media-m {
  }
}

%quote {
  font-weight: 500;
  font-size: rez(34);
  line-height: calc(44 / 34);
  letter-spacing: rez(-0.5);
  @include media-l {
    font-size: rez-l(34);
  }
  @include media-t {
    font-size: rez-t(28);
  }
  @include media-m {
    font-size: rez-m(24);
  }
}

%links {
  font-weight: 500;
  font-size: rez(14);
  line-height: calc(18 / 14);
  text-decoration: none;
  @include media-l {
    font-size: 14px;
  }
  @include media-m {
    font-size: rez-m(18);
  }
}

%author {
  font-weight: 500;
  font-size: rez(20);
  line-height: calc(32 / 20);
  @include media-l {
    font-size: rez-l(18);
  }
  @include media-t {
    font-size: rez-t(16);
  }
  @include media-m {
    font-size: rez-m(14);
  }
}

.title {
  @extend %titles;
  color: $black15;
  transition: color 0.3s ease;
  &.darkmode {
    color: white;
  }
}

.author {
  @extend %author;
  color: $black15;
  &.darkmode {
    color: white;
  }
}

.text-s {
  @extend %text-s;
  color: $black15;
  &.darkmode {
    color: $black56;
  }
}

.text {
  @extend %text;
  color: $gray22;
  transition: color 0.3s ease;
  &.darkmode {
    color: $whiteE5;
  }
}

.darkText {
  @extend %darkText;
  color: $black15;
  transition: color 0.3s ease;
  &.darkmode {
    color: white;
  }
}

.quote {
  @extend %quote;
  color: $black15;
  transition: color 0.3s ease;
  &.darkmode {
    color: white;
  }
}

.link {
  @extend %links;
  color: $black15;
  transition: color 0.3s ease;
  &:hover {
    opacity: 0.75;
  }
  &.darkmode {
    color: white;
  }
}
